@import "../../node_modules/bootstrap/scss/bootstrap";

#root {
  @include make-container();
  margin-top: 1.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Chicle');
body {
  font-family: 'Chicle', cursive;
  font-size: 20px;
  background: #a5eec5;
  // background: #73ecff;
}
.header{
  font-size: 24px;
}

.box{
  position: relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  letter-spacing: 3px;
}
/* Container holding the image and the text */
// .container {
//     position: relative;
// }
//
// /* Bottom right text */
// .text-block {
//     position: absolute;
//     bottom: 20px;
//     right: 20px;
//     background-color: black;
//     color: white;
//     padding-left: 20px;
//     padding-right: 20px;
// }
